// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: #f3f3f3 !important;
}

.container.header {
  background: #f3f3f3;
}
// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

.wrapper.secondary {
  background: #f3f3f3;
}

th.callout-inner {
  @media only screen and (max-width: 450px) {
    padding: 40px 20px !important;
  }
}

.h1 {
  font-weight: 600;
  font-size: 48px;
  line-height: 120%;
  /* or 58px */
  color: #006ffb;
  text-align: center;
  letter-spacing: -0.05em;
  text-transform: capitalize;

  @media only screen and (max-width: 450px) {
    font-size: 35px;
  }
}

.bg {
  background-color: #f2f8ff;
  border-radius: 40px;
  padding: 60px 30px;

  &.small {
    padding: 15px 30px !important;
    & th.columns {
      padding-bottom: 0 !important;
    }

    & table.button {
      margin: 0;
    }

    @media only screen and (max-width: 450px) {
      padding: 12px 6px !important;
    }
  }

  @media only screen and (max-width: 450px) {
    padding: 30px 15px !important;
    border-radius: 20px;
  }

  &.bg-logo {
    background-image: url(https://digitalbutlers.me/any_scripts/ta3meed/mail/img/bg-logo-white.png) !important;
    background-repeat: no-repeat !important;
    background-position: top center !important;
  }

  &.bg-gradient {
    background: linear-gradient(93.69deg, #006ffb 0.68%, #64e8a4 98.6%);
  }
}

a.btn {
  font-size: 14px;
  display: inline-block;
  white-space: nowrap;
}

.btn.rounded {
  margin-right: 10px;
}

.row .body .columns th.large-10 {
  vertical-align: middle;
  padding-bottom: 0px !important;
}
.column-center {
  vertical-align: middle;
}

.row-center {
  vertical-align: center;
}

.h2 {
  font-weight: 600;
  font-size: 40px;
  line-height: 130%;
  text-align: right;
  letter-spacing: -0.05em;
  color: #006ffb;

  @media only screen and (max-width: 450px) {
    font-size: 25px;
  }

  &.h2-white {
    color: #ffffff;
  }

  &.gradient {
    text-align: center;
    color: #006ffb;
  }
}

.main-text {
  font-weight: 500;
  font-size: 18px;
  line-height: 200%;
  text-align: right;
  letter-spacing: -0.05em;
  color: #011f46;

  @media only screen and (max-width: 450px) {
    font-size: 14px;
  }
  &.white {
    color: #ffffff;
  }
}

.white-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  text-align: right;
  letter-spacing: -0.05em;
  color: #ffffff;
  padding-right: 20px;
  vertical-align: middle;
  @media only screen and (max-width: 450px) {
    font-size: 14px;
  }
}

.grey-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  text-align: right;
  letter-spacing: -0.03em;

  color: rgba(1, 31, 70, 0.5);
  @media only screen and (max-width: 450px) {
    font-size: 13px;
  }
}

.gradient-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  display: flex;
  align-items: center;
  text-align: right;
  letter-spacing: -0.05em;
  color: #006ffb;
  padding-right: 20px;

  @media only screen and (max-width: 450px) {
    font-size: 14px;
  }
}

.h4 {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.05em;
  color: #006ffb;
  @media only screen and (max-width: 450px) {
    font-size: 20px;
  }
}

.center-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 180%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #011f46;
  @media only screen and (max-width: 450px) {
    font-size: 14px;
  }
}

th.callout-inner.white-box {
  background: #ffffff;
  border-radius: 20px;
  padding: 60px 30px;
}

.h4-white {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #ffffff;
  text-align: right;
  @media only screen and (max-width: 450px) {
    font-size: 20px;
  }
}

.name {
  font-weight: 600;
  font-size: 24px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.05em;
  color: #006ffb;
  margin-bottom: 20px;
  @media only screen and (max-width: 450px) {
    font-size: 20px;
  }
}

.tel {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.03em;
  color: rgba(1, 31, 70, 0.6);
  display: block;
  margin-bottom: 25px;
}

.mail {
  font-weight: 500;
  font-size: 16px;
  line-height: 100%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #006ffb;
  display: block;
}

.hr {
  border: none;
  height: 1px;
  background-color: rgba(255, 255, 255, 0.4);
}

.footer-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #ffffff;
}

.footer-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  text-align: center;
  letter-spacing: -0.03em;
  color: #ffffff !important;
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
}

.menu-item {
  & a {
    font-weight: 500;
    font-size: 14px;
    line-height: 100%;
    letter-spacing: -0.03em;
    text-transform: capitalize;
    color: #ffffff !important;
    opacity: 0.7;
    transition: all 0.3s ease 0s;
    &:hover {
      opacity: 1;
    }
  }
  & img {
    display: inline-block;
    padding-right: 15px;
    @media only screen and (max-width: 450px) {
      padding-right: 5px;
    }
  }
}

.footer-rights {
  font-weight: 500;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: -0.03em;
  color: #ffffff !important;
  opacity: 0.7;
  text-align: center;
}

.step-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 180%;
  letter-spacing: -0.03em;
  color: rgba(1, 31, 70, 0.6);
}

.box {
  width: 90px;
  height: 90px;
  background: #f9fbfc;
  border-radius: 20px;
  padding-bottom: 0px !important;
  @media only screen and (max-width: 450px) {
    display: table-cell !important;
    max-width: 30px !important;
    border-radius: 20px;
    padding: 5px !important;
  }
}

.box-number {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  letter-spacing: -0.05em;
  color: #016bf0;
  @media only screen and (max-width: 450px) {
    font-size: 16px;
  }
}
